body{
    margin: 0;padding-top: 57px;
}

header{
    padding: 0;
    margin: 0;
}

footer{
    background-color: #0c0d0e;
}

aside{
    width: 25%;
}
.navbar-list li{
    padding: 0px 5px;
}
@media (min-width: 992px) {
  .navbar-list li:hover {
    border-radius: 18px;
    background-color: #e3e6e8;
  }
}

@media (max-width: 991.98px) {
  #offcanvasNavbar .nav-link {
    padding-left: 15px;
  }
  #offcanvasNavbar .navbar-nav .nav-item a {
    border-radius: 5px;
  }
  #offcanvasNavbar .navbar-nav .nav-item a:hover {
    background-color: #868f8f;
    color: white;
  }
}

#search-input
{
  border: 1px solid hsl(210, 14%, 83%);
}

.custom-input-group{
  border: 2px solid transparent;
  padding: 2px;
  border-radius: 9px;
  transition: border-color 0.2s ease;
  cursor: pointer;
}

.custom-input-group button{
  background-color: white;
  border-radius: 7px;
  border: #ced4da solid 1px;
  padding: 0px 10px
}

.custom-input-group:focus-within{
  border: 2px solid #007bff;
}

.custom-input-group .input-group-text,
.custom-input-group .form-control {
    box-shadow: none;
}
.footer-links h5{
    text-transform: uppercase;
}
.footer-links a{
    color: #c8ccd0;
    text-decoration: none;
    font-size: 13px;
}
.footer-links a:hover{
    color: #e3e6e8;
}

.footer-links div ul{
  flex-wrap: wrap;
}

.footer-meta{
    color: #c8ccd0;
    font-size: 11px;
}

.footer-meta li a{
    color: #c8ccd0;
    text-decoration: none;
    padding-right: 20px;
    font-size: 11px;
}
.footer-meta li a:hover{
    color: #e3e6e8;
}

#offcanvasNavbar {
  width: 45%;
}

.left-sidebar-list{
  font-size: 14px;
}
.left-sidebar-list ul li{
  padding: 7px 0px 7px 0px;
  border-radius: 7px;
  margin-right: 5px;
}

.left-sidebar-list ul li:hover{
  background-color: #f9fafa;
  color: #0c0d0e;
  font-weight: 700;
}
.left-sidebar-list ul li a{
  color: #384045;
  padding-left: 10px;
}
.left-sidebar-list ul li i{
  width: 28px;
  display: inline-block;
  text-align: center;
  padding-left: 10px;
}
.tag-list{
  margin: 0px;
}
.tag {
  background-color: #e1ecf4;
  color: #39739d;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 3px;
  margin-right: 5px;
}
.tag:hover {
  background-color: #3677a5;
  color: white;
  cursor: pointer;
}
#question-list{
    margin-bottom: 150px;
}
.question-card:hover{
    background-color: #f9fafa;
}

.question-card .question-content a{
    text-decoration: none;
    font-weight: 450;
}

.question-card .question-statis{
    font-size: 13px;
}

.question-title{
  overflow: hidden;
  max-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.question-desc{
  overflow: hidden;
  max-height: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-box{
    background-color: #fdf7e7;
}
.sidebar-box .section-content{
    padding-bottom: 10px;
}
.sidebar-box .section-title{
    font-weight: 650;
    font-size: 15px;
}
.sidebar-box .section-content i{
    font-size: 13px;
    padding-right: 10px;
}
.sidebar-box a{
    color: #636b74;
    font-size: 13px;
}
.sidebar-box a:hover{
    color: #0c0d0e;
}
.sidebar-box ul li {
  position: relative;
  padding-left: 40px;
}
.sidebar-box ul li::before{
    background-image: url(../icon/pen-solid.svg);
}
.article-info{
    font-size: 12px;
}
